[flake8]
max-line-length = 120

ignore =
    E203,
    E266,
    E501,
    W503

exclude =
    .git,
    .github,
    __pycache__,
    venv,
    env,
    .env,
    desktop,
    build,
    dist,
    dockerfile

count = True
show-source = True
max-complexity = 12

