name: VULNPORTS Backend CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  release:
    types: [published]

jobs:

  build:
    name: Build & Test Backend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del codigo
        uses: actions/checkout@v4

      - name: Configurar Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip

          # Instalar requirements sin PyTorch CPU
          pip install --no-cache-dir -r requirements.txt

          # Instalar PyTorch CPU (3.12 compatible)
          pip install torch==2.9.1 --index-url https://download.pytorch.org/whl/cpu
          pip install torchaudio==2.9.1 --index-url https://download.pytorch.org/whl/cpu
          pip install torchvision==0.24.1 --index-url https://download.pytorch.org/whl/cpu

          # Linter y pruebas
          pip install pytest ruff

      - name: Analizar estilo con Ruff
        run: ruff check .

      # - name: Formatear código con Ruff (opc)
      #   run: ruff format .

      - name: Ejecutar pruebas unitarias
        run: |
          export PYTHONPATH="$PYTHONPATH:$(pwd)"
          pytest test -q


  docker:
    name: Build & Push Docker Image
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Login en Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Definir TAG de la imagen
        id: vars
        run: |
          if [[ "${{ github.event_name }}" == "release" ]]; then
            echo "TAG=${{ github.event.release.tag_name }}" >> $GITHUB_OUTPUT
          else
            echo "TAG=${{ github.sha }}" >> $GITHUB_OUTPUT
          fi

      - name: Build & Push Imagen Docker
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./dockerfile
          push: true
          platforms: linux/amd64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/vulnports:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/vulnports:${{ steps.vars.outputs.TAG }}

      - name: Verificar imagen subida
        run: docker pull ${{ secrets.DOCKERHUB_USERNAME }}/vulnports:latest


